@model Department
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.deptid</h5>
        <p class="card-text">@Model.Name</p>
        <p class="card-text">@Model.Manager</p>
        <p class="card-text">@Model.location</p>
        <p class="card-text">@Model.branch</p>

        @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
    </div>
</div>