 <a href="/student/addstudent" class="btn btn-outline-primary">Add New Student</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">SSn</th>
            <th scope="col">name</th>
            <th scope="col">Age</th>
            <th scope="col">image</th>
            <th scope="col">email</th>
            <th scope="col">address</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var std in Model)
        {
            <tr>
                <th scope="row">@std.ssn</th>
                <td>@std.name</td>
                <td>@std.age</td>
                <td>@std.image</td>
                <td>@std.email</td>
                <td>@std.address</td>
            </tr>
        }
    </tbody>
</table>
