
<a asp-action="AddCourse" asp-controller="Course" class="btn btn-outline-info">Add Course</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Topic</th>
            <th scope="col">Degree</th>
            <th scope="col">Min Degree</th>
            <th scope="col">CRUD buttons</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var crs in Model)
        {
            <tr>
                <th scope="row">@crs.Id</th>
                <td>@crs.Name</td>
                <td>@crs.Topic</td>
                <td>@crs.Degree</td>
                <td>@crs.MinDegree</td>
                <td>
                    @Html.ActionLink("View Details", "getbyid", new { id = crs.Id }, "course")
                    <a asp-action="EditCourse" asp-controller="course" asp-route-id="@crs.Id" class="btn btn-outline-info">Edit</a>
                    <a asp-action="Delete" asp-controller="course" asp-route-id="@crs.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>