 <a href="/department/adddepartment" class="btn btn-outline-primary">Add New Department</a>
<a href="/department/addv2" class="btn btn-outline-secondary">Add V2</a>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Manager</th>
            <th scope="col">Location</th>
            <th scope="col">Branch</th>
            <th scope="col">CRUD buttons</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dpt in Model)
        {
            <tr>
                <th scope="row">@dpt.deptid</th>
                <td>@dpt.Name</td>
                <td>@dpt.Manager</td>
                <td>@dpt.location</td>
                <td>@dpt.branch</td>
                <td>@Html.ActionLink("View Details","getbyid",new {id=dpt.deptid},"department")
                <a asp-action="EditDepartment" asp-controller="Department" asp-route-id="@dpt.deptid" class="btn btn-outline-info">Edit</a>
                    <a asp-action="Delete" asp-controller="Department" asp-route-id="@dpt.deptid" class="btn btn-outline-danger">Delete</a>

                </td>

            </tr>
        }
    </tbody>
</table>
