@{
    ViewData["Title"] = "Product List";
    var currentTime = DateTime.Now.ToString("HH:mm:ss.fff");
}

<h2>Studends List (Cache Test)</h2>
<p>Current Server Time: <strong>@currentTime</strong></p>
<p>This time should NOT change for 30 seconds if caching works.</p>

 <a href="/student/addstudent" class="btn btn-outline-primary">Add New Student</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">SSn</th>
            <th scope="col">name</th>
            <th scope="col">Age</th>
            <th scope="col">image</th>
            <th scope="col">email</th>
            <th scope="col">address</th>
            <th scope="col">CRUD buttons</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var std in Model)
        {
            <tr>
                <th scope="row">@std.ssn</th>
                <td>@std.name</td>
                <td>@std.age</td>
                <td>@std.image</td>
                <td>@std.email</td>
                <td>@std.address</td>
                <td>@Html.ActionLink("View Details", "getbyid", new { id = std.ssn}, "student")
                <a asp-action="EditStudent" asp-controller="Student" asp-route-id="@std.ssn" class="btn btn-outline-info">Edit</a>
                <a asp-action="Delete" asp-controller="Student" asp-route-id="@std.ssn" class="btn btn-outline-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
